/*======================== Basic Setup ========================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Patua One', cursive;*/
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.pt {
  padding-top: 100px;
}

.pb {
  padding-bottom: 100px;
}

.ptb {
  padding: 100px 0;
}

a {
  text-decoration: none;
  color: #e75172;
}

/* ============================== Reusable Components ==============================*/
.heading {
  text-align: center;
  margin-bottom: 40px;
}

.heading h2 {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  color: #005C86;
  text-transform: capitalize;
  padding: 0 4rem 1rem 4rem;
}

.heading h2::after,
.heading h2::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.heading h2::after {
  left: 50%;
  top: 97%;
  background: #e75172;
}

.heading h2::before {
  right: 50%;
  top: 97%;
  background: #0090C3;
}

.heading p {
  margin: 2rem 0;
  font-size: 15px;
  color: #012536;
  opacity: 0.7;
}

/* ============================== Header Satr==============================*/
.header .top-header .title {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #63498F), color-stop(70%, #E76783));
  background: linear-gradient(to right, #63498F 2%, #E76783 70%);
  padding: .5rem 0;
}

.header .top-header .title h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.header .top-header .main-manu {
  background: #ffffff;
}

.header .top-header .main-manu nav {
  margin: 0;
  padding: 0;
}

.header .top-header .main-manu nav .navbar-brand h3 {
  font-family: 'Dancing Script', cursive;
  display: inline;
  color: #005C86;
  font-size: 4rem;
}

.header .top-header .main-manu nav ul li {
  -webkit-transform: all 1s;
          transform: all 1s;
  display: inline-block;
}

.header .top-header .main-manu nav ul li a {
  display: block;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  opacity: 0.5;
}

.header .top-header .main-manu nav ul li:hover {
  background: #d3d3d3;
}

.header .top-header .main-manu nav ul li:hover a {
  opacity: 1;
}

.header .bottom-header {
  /*.carousel-item::before{
            content: '';
            
            top:0;
            right: 0;
            bottom: 0;
            left: 0;
            background:linear-gradient(#00489A, #009a85 );
        }*/
}

.header .bottom-header .carousel-item {
  height: 45rem;
}

.header .bottom-header .carousel-item .carousel-caption {
  margin-bottom: 10rem;
  text-align: left;
  color: #ffffff;
  background: rgba(19, 15, 64, 0.5);
  -webkit-box-shadow: 0 0 0 100vw rgba(19, 15, 64, 0.5);
          box-shadow: 0 0 0 100vw rgba(19, 15, 64, 0.5);
}

.header .bottom-header .carousel-item .carousel-caption h2,
.header .bottom-header .carousel-item .carousel-caption h3 {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, #FF8F6D), color-stop(80%, #FFC25F));
  background: linear-gradient(to right, #FF8F6D 4%, #FFC25F 80%);
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 6rem;
  display: inline-block;
  padding: .4rem;
  font-weight: 800;
  font-style: italic;
}

.header .bottom-header .carousel-item .carousel-caption h2::after {
  position: absolute;
  content: 'Coming Soon';
  background: #e75172;
  color: #ffffff;
  font-size: 1.6rem;
  padding: .4rem .8rem;
  border-radius: 20px;
  display: inline-block;
  left: 8px;
  top: -20px;
}

.header .bottom-header .carousel-item .carousel-caption p {
  width: 70%;
  font-size: 1.7rem;
  font-weight: 400;
  color: #eaf3f5;
}

.header .bottom-header .carousel-item .carousel-caption a {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  background: #ffffff;
  color: #005C86;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.7rem;
  text-decoration: none;
}

.header .bottom-header .carousel-item .carousel-caption a:hover {
  text-decoration: none;
  background: #0090C3;
  color: #ffffff;
}

.header .bottom-header .carousel-img-1 {
  background: url(../img/carousel-1.jpg);
  background-size: cover;
  background-position: center center;
}

.header .bottom-header .carousel-img-2 {
  background: url(../img/carousel-2.jpg);
  background-size: cover;
  background-position: center bottom;
}

.header .bottom-header .carousel-img-3 {
  background: url(../img/carousel-3.jpg);
  background-size: cover;
  background-position: center bottom;
}

/* ============================== Services Satr==============================*/
.services .card {
  text-align: center;
  padding: 1.5rem;
  border-radius: .3rem;
  border: 1px solid rgba(0, 144, 195, 0.4);
  background: rgba(0, 144, 195, 0.1);
}

.services .card .icon {
  margin: 1rem 0;
}

.services .card .icon img {
  width: 15rem;
  height: 10rem;
}

.services .card .text {
  padding-bottom: 1rem;
}

.services .card .text h3 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: .4rem;
}

.services .card .text p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #005C86;
}

/* ============================== Skills Satr==============================*/
.skills {
  background: #E4EDF3;
}

.skills .skills-item .skill {
  margin: 4rem 0;
}

.skills .skills-item .skill .lable {
  padding: .5rem 0;
}

.skills .skills-item .skill .lable h4 {
  display: inline-block;
  text-align: left;
  font-size: 1.8rem;
  color: #005C86;
  font-weight: 700;
  text-transform: uppercase;
}

.skills .skills-item .skill .lable span {
  float: right;
  display: inline;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  color: #005C86;
}

.skills .skills-item .skill .progress {
  background: rgba(0, 144, 195, 0.2);
  height: .6rem;
  border-radius: 4px;
}

.skills .skills-item .skill .progress .progress-bar {
  background: #e75172;
  height: .6rem;
  border-radius: 4px;
}

.skills .skills-item .skill:first-child {
  margin-top: 0;
}

.skills .skills-item .skill:last-child {
  margin-bottom: 0;
}

.skills .skills-item .item-1 .progress-bar {
  width: 90%;
}

.skills .skills-item .item-2 .progress-bar {
  width: 65%;
}

.skills .skills-item .item-3 .progress-bar {
  width: 52%;
}

.skills .skills-item .item-4 .progress-bar {
  width: 10%;
}

.skills .skills-item .item-5 .progress-bar {
  width: 15%;
}

/* ============================== Portfolio Satr==============================*/
.portfolio .right-left-content {
  /*--------------- Right Content ---------------*/
  /*--------------- Left Content ---------------*/
}

.portfolio .right-left-content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .right-left-content .right .box-1 {
  position: relative;
  width: 50%;
  background: #ffffff;
  float: right;
  height: 100%;
}

.portfolio .right-left-content .right .box-1 .content {
  margin: 0 0 12rem 7.5rem;
}

.portfolio .right-left-content .right .box-1 .content .date-and-time {
  position: relative;
  max-width: 46.5rem;
  height: 26.5rem;
  margin: .5rem;
}

.portfolio .right-left-content .right .box-1 .content .date-and-time span {
  position: absolute;
  padding: .8rem 1rem;
  background: rgba(0, 144, 195, 0.2);
  color: #005C86;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  display: inline-block;
  top: 1.7rem;
  right: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 4px;
}

.portfolio .right-left-content .right .box-2 {
  position: relative;
  width: 50%;
  background: #ffffff;
  float: right;
  height: 100%;
}

.portfolio .right-left-content .right .box-2 .content {
  margin: 0 0 12rem 7.5rem;
}

.portfolio .right-left-content .right .box-2 .content .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 5px;
  max-width: 46.5rem;
  -webkit-box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.25);
  height: 26.5rem;
  margin: .5rem;
}

.portfolio .right-left-content .right .box-2 .content .project-item .overlay-content {
  position: absolute;
  z-index: 4;
  max-width: 70%;
  text-align: center;
}

.portfolio .right-left-content .right .box-2 .content .project-item .overlay-content h4 {
  display: inline-block;
  color: #ffffff;
  background: #0090C3;
  text-align: center;
  padding: .2rem .4rem;
  margin: .6rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.portfolio .right-left-content .right .box-2 .content .project-item .overlay-content .use {
  text-align: center;
}

.portfolio .right-left-content .right .box-2 .content .project-item .overlay-content .use span {
  font-size: 1.6rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  color: #005C86;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  padding: .2rem 1rem;
  margin: .8rem .5rem;
  border-radius: 20px;
}

.portfolio .right-left-content .right .box-2 .content .project-item .site-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background: rgba(0, 92, 134, 0.6);
  z-index: -1;
}

.portfolio .right-left-content .right .box-2 .content .project-item .site-link a button {
  font-size: 22px;
  padding: .5rem 3rem;
  background: #e75172;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio .right-left-content .right .box-2 .content .project-item .site-link a:hover button {
  background: #ffffff;
  color: #e75172;
}

.portfolio .right-left-content .right .box-2 .content .project-item:hover .overlay-content {
  opacity: 0;
}

.portfolio .right-left-content .right .box-2 .content .project-item:hover .site-link {
  z-index: 5;
}

.portfolio .right-left-content .right .box-2 .content .project-1 {
  background: url(../img/project-1.png);
  background-position: top center;
  background-size: cover;
}

.portfolio .right-left-content .right .box-2 .content .project-3 {
  background: url(../img/project-3.png);
  background-position: top center;
  background-size: cover;
}

.portfolio .right-left-content .right .box-2 .content .project-5 {
  background: url(../img/project-5.png);
  background-position: top center;
  background-size: cover;
}

.portfolio .right-left-content .right .box-2 .content .project-item::before {
  content: '';
  position: absolute;
  right: 100%;
  top: 34px;
  width: 5rem;
  height: .4rem;
  background: #E76783;
  z-index: 2;
}

.portfolio .right-left-content .right .box-2 .content .project-item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 15, 64, 0.5)), to(rgba(19, 15, 64, 0.5)));
  background: linear-gradient(rgba(19, 15, 64, 0.5), rgba(19, 15, 64, 0.5));
  z-index: 3;
}

.portfolio .right-left-content .right .box-2::before,
.portfolio .right-left-content .right .box-2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portfolio .right-left-content .right .box-2::before {
  width: 8rem;
  height: 8rem;
  background: #E76783;
  border-radius: 50%;
  left: -3.9rem;
  border: 3px dotted #E76783;
  z-index: 3;
}

.portfolio .right-left-content .right .box-2::after {
  border-left: 3px dotted #FF8F6D;
  z-index: 2;
}

.portfolio .right-left-content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .right-left-content .left .box-1 {
  position: relative;
  width: 50%;
  background: #ffffff;
  float: right;
  height: 100%;
}

.portfolio .right-left-content .left .box-1 .content {
  margin: 0 7.5rem 12rem 0;
}

.portfolio .right-left-content .left .box-1 .content .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 5px;
  max-width: 46.5rem;
  -webkit-box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.25);
  height: 26.5rem;
  margin: .5rem;
}

.portfolio .right-left-content .left .box-1 .content .project-item .overlay-content {
  position: relative;
  z-index: 4;
  max-width: 70%;
  text-align: center;
}

.portfolio .right-left-content .left .box-1 .content .project-item .overlay-content h4 {
  display: inline-block;
  color: #ffffff;
  background: #0090C3;
  text-align: center;
  padding: .2rem .4rem;
  margin: .6rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.portfolio .right-left-content .left .box-1 .content .project-item .overlay-content .use {
  text-align: center;
}

.portfolio .right-left-content .left .box-1 .content .project-item .overlay-content .use span {
  font-size: 1.6rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  color: #005C86;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  padding: .2rem 1rem;
  margin: .8rem .5rem;
  border-radius: 20px;
}

.portfolio .right-left-content .left .box-1 .content .project-item .site-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background: rgba(0, 92, 134, 0.6);
  z-index: -1;
}

.portfolio .right-left-content .left .box-1 .content .project-item .site-link a button {
  font-size: 22px;
  padding: .5rem 3rem;
  background: #e75172;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio .right-left-content .left .box-1 .content .project-item .site-link a:hover button {
  background: #ffffff;
  color: #e75172;
}

.portfolio .right-left-content .left .box-1 .content .project-item:hover .overlay-content {
  opacity: 0;
}

.portfolio .right-left-content .left .box-1 .content .project-item:hover .site-link {
  z-index: 5;
}

.portfolio .right-left-content .left .box-1 .content .project-2 {
  background: url(../img/project-2.png);
  background-position: top center;
  background-size: cover;
}

.portfolio .right-left-content .left .box-1 .content .project-4 {
  background: url(../img/project-4.jpg);
  background-position: top center;
  background-size: cover;
}

.portfolio .right-left-content .left .box-1 .content .project-6 {
  background: url(../img/project-6.png);
  background-position: top center;
  background-size: cover;
}

.portfolio .right-left-content .left .box-1 .content .project-item::before {
  content: '';
  position: absolute;
  left: 100%;
  top: 34px;
  width: 5rem;
  height: .4rem;
  background: #E76783;
  z-index: 2;
}

.portfolio .right-left-content .left .box-1 .content .project-item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 15, 64, 0.5)), to(rgba(19, 15, 64, 0.5)));
  background: linear-gradient(rgba(19, 15, 64, 0.5), rgba(19, 15, 64, 0.5));
  z-index: 3;
}

.portfolio .right-left-content .left .box-2 {
  position: relative;
  width: 50%;
  background: #ffffff;
  float: right;
  height: 100%;
}

.portfolio .right-left-content .left .box-2 .content {
  margin: 0 7.5rem 12rem 0;
}

.portfolio .right-left-content .left .box-2 .content .date-and-time {
  position: relative;
  max-width: 46.5rem;
  height: 26.5rem;
  margin: .5rem;
}

.portfolio .right-left-content .left .box-2 .content .date-and-time span {
  position: absolute;
  padding: .8rem 1rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background: rgba(0, 144, 195, 0.2);
  color: #005C86;
  display: inline-block;
  top: 1.7rem;
  left: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 4px;
}

.portfolio .right-left-content .left .box-2::before,
.portfolio .right-left-content .left .box-2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portfolio .right-left-content .left .box-2::before {
  width: 8rem;
  height: 8rem;
  background: #E76783;
  border-radius: 50%;
  left: -3.9rem;
  border: 3px dotted #E76783;
  z-index: 3;
}

.portfolio .right-left-content .left .box-2::after {
  border-left: 3px dotted #FF8F6D;
  z-index: 2;
}

.portfolio .right-left-content:last-child .left .box-2:last-child::after {
  border: none;
}

/* ============================== Contact Satr ==============================*/
.contact {
  background: #E4EDF3;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
  width: 100%;
  padding: 1.2rem 1rem;
  border: none;
  border-radius: 4px;
  border-bottom: 0.2rem solid rgba(0, 92, 134, 0.6);
  text-align: left;
  margin: 1rem 0;
  font-size: 1.8rem;
  background: rgba(0, 144, 195, 0.2);
}

.contact form input[type="submit"] {
  padding: 1rem 2.8rem;
  margin-top: 1rem;
  border: 1px solid #005C86;
  border-radius: 4px;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  background: linear-gradient(-15deg, #0090C3 4%, #005C86 70%);
  -webkit-box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.25);
}

.contact form input[type="submit"]:hover {
  background: linear-gradient(135deg, #0090C3 4%, #005C86 70%);
}

/* ============================== Footer Satrt ==============================*/
.footer {
  background: #0090C3;
  padding-top: 6rem;
}

.footer h3 {
  font-size: 2.9rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 3rem;
}

.footer .social-link ul {
  list-style: none;
}

.footer .social-link ul li a {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  background: rgba(238, 175, 74, 0);
  border-radius: 5px;
  padding: 0 5rem 0 0;
  margin: .3rem 0;
  width: 20.5rem;
}

.footer .social-link ul li a i {
  position: relative;
  display: inline;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2rem;
  background: #FF8F6D;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  float: left;
  -webkit-transition: all .5s .6s;
  transition: all .5s .6s;
}

.footer .social-link ul li a span {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-size: 1.7rem;
}

.footer .social-link ul li a::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 90%;
  border-radius: 5px;
  background: #FF8F6D;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.footer .social-link ul li a:hover .fa-facebook-f {
  background: #013046;
}

.footer .social-link ul li a:hover .fa-youtube {
  background: #FF0000;
}

.footer .social-link ul li a:hover .fa-instagram {
  background: -webkit-gradient(linear, left top, right top, from(#FFCD52), color-stop(#EF4C60), to(#6450CD));
  background: linear-gradient(to right, #FFCD52, #EF4C60, #6450CD);
}

.footer .social-link ul li a:hover .fa-github {
  background: #2B3137;
}

.footer .social-link ul li a:hover::before {
  right: 0;
}

.footer .experience ul {
  list-style: none;
}

.footer .experience ul li {
  margin: 1rem 0;
}

.footer .experience ul li i {
  color: #e75172;
  font-size: 1.8rem;
  margin-right: 0.6rem;
}

.footer .experience ul li P {
  display: inline;
  font-size: 1.7rem;
  color: #012536;
  opacity: 0.8;
}

.footer .gat-in-tuch ul {
  list-style: none;
  background: rgba(1, 48, 70, 0.8);
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 6px;
}

.footer .gat-in-tuch ul li {
  margin: 1.5rem 0;
}

.footer .gat-in-tuch ul li i {
  color: #e75172;
  font-size: 2.2rem;
  margin-right: 0.8rem;
}

.footer .gat-in-tuch ul li span, .footer .gat-in-tuch ul li address {
  display: inline;
  color: #ffffff;
  opacity: 0.8;
  font-size: 1.8rem;
}

.footer .gat-in-tuch ul li address {
  font-style: italic;
  font-size: 1.5rem;
}

.footer .copyright {
  background: #005C86;
  text-align: center;
  margin-top: 4rem;
}

.footer .copyright p {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 1.2rem 0;
}

.footer .copyright p a {
  color: white;
  font-size: 1.8rem;
}

.footer .copyright p a:hover {
  text-decoration: underline;
  color: #eeaf4a;
  font-size: 1.8rem;
}

.footer .copyright p strong {
  color: white;
}

.footer .copyright p strong:hover {
  color: #e75172;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */